<!DOCTYPE html>
<html ng-app="slactory" lang="en-utf8">
  <head>
    <meta charset="utf-8">
    <title>Slactory</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="js/token.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers/channels.js"></script>
    <script src="js/controllers/chat.js"></script>
    <style type="text/css">
    </style>
  </head>
  <body>
    <section ng-controller="ChannelsController as cc">
      <h1>Channels</h1>
      <ul>
        <li ng-repeat="channel in cc.list">
          {{channel.name}}
          <code>{{channel.id}}</code>
        </li>
      </ul>
    </section>

    <form ng-controller="ChatController as chat">
      <h1>Chat</h1>
      <input ng-model="chat.message.channel" type="text" class="form-control">
      <textarea ng-model="chat.message.text" class="form-control"></textarea>
      <button class="btn btn-default" ng-click="chat.postMessage()">Send</button>
    </form>
  </body>
</html>
